body {
  /*margin: 0;*/
  background-color: #e9ebee;
}

p {
  font-size: 16px;
  font-family: Helvetica, Arial, "Lucida Grande", Tahoma, Verdana, sans-serif;
}

h3 {
  margin: 0;
  font-family: Helvetica, Arial, "Lucida Grande", Tahoma, Verdana, sans-serif;
}

.openings {
  width: 100%;
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
}

#container p {
  margin: 0;
}

.job-container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.job-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #005eac;
  width: 140px;
  height: 40px;
  color: #fff;
  font-family: Helvetica, Arial, "Lucida Grande", Tahoma, Verdana, sans-serif;
}

.title {
  font-size: 20px;
  line-height: 27px;
  color: #4267b2;

}

.location {
  font-size: 16px;
  color: #9197a3;

}
